<nav>
    <!-- left -->
    <div id="nav-left">
        <ul>
            <li><a href="#">Mens</a></li>
            <li><a href="#">Womens</a></li>
            <li><a href="#">Unisex</a></li>
            <li><a href="#">Smart</a></li>
            <li><a href="#">Sporting</a></li>
        </ul>
    </div>

    <!-- centre -->
    <div id="nav-centre">
        <a href="/" class="no-style">
            <h1>
                <span class="title-italic">Hockley</span>
                <span class="title-small">Watch Emporium</span>
            </h1>
        </a>
    </div>

    <!-- right -->
    <div id="nav-right">
        <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Repairs</a></li>
            <li><a href="#">Investors</a></li>
        </ul>
    </div>
</nav>