body {
    margin: 0;
    padding: 0;

    background-color: $bg;
    color: $fg;

    font-family: $fn-copy;
}

h1,
h2,
h3,
h4 {
    font-family: $fn-heading;
}

main {
    max-width: 80em;
    padding: 1em;
    margin: 0 auto;
}