//
//// Links & Buttons
//

a.no-style {
    text-decoration: none;
    color: inherit;
}

//
//// Backgrounds & Heros
//
.cover-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}