nav {
    padding: 1em 5vw;
    background-color: $bg-1;

    // background: linear-gradient(135deg, $bg 0%, $bg-1 100%); 

    display: flex;
    align-items: center;
    justify-content: space-between;


    div#nav-left, div#nav-right {
        ul {
            display: inline-block;
            margin: 0;
            list-style: none;

            li {
                display: inline-block;
                margin: 0 4px;

                a {
                    display: inline-block;
                    padding: 0 0.2em;
                    text-decoration: none;
                    color: $fg;
                    border-bottom: 4px solid $bg-1;

                    &:hover {
                        border-bottom: 4px solid $fg;
                    }
                }
            }
        }
    }

    div#nav-centre {
        a:hover {
            text-decoration: underline;
        }
        
        h1 {
            transform: scale(1.5);

            span.title-italic {
                font-style: italic;
            }
    
            span.title-small {
                font-size: 0.8em;
            }
        }
    }
}