---
---

// tailwind red
$bg: #7F1D1D; // 900
$bg-1: #991B1B; // 800
$bg-2: #B91C1C; // 700
$bg-3: #DC2626; // 600
$fg: #FEF2F2; // 50

$fn-heading: 'Libre Baskerville', serif;
$fn-copy: 'Libre Frankln', sans-serif;

@import '_core.scss';
@import '_nav.scss';
@import '_footer.scss';
@import '_helpers.scss';
@import 'pages/_home.scss';
