<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Libre+Franklin&display=swap" rel="stylesheet"> 

    <!-- Main Compiled SCSS -->
    <link rel="stylesheet" href="assets/style/compiled.css">

    <title>{{ page.title }} | {{ site.title }}</title>
</head>
<body id="{{ page.id }}">
    <!-- Common fixed nav -->
    {% include nav.html %}

    <!-- Page Content start -->
    <div id="content-wrapper">
        {{ content }}
    </div>
    <!-- /Page Content -->

    <!-- Common footer -->
    {% include foot.html %}
</body>
</html>
